body {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
}

nav#navbar {
  position: fixed;
}

main#main-doc {
  text-align: justify;
  max-width: 1000px;
  margin-left: 300px;
  padding: 30px;
}

@media (max-width: 530px) {
  body {
    background-color: lightblue;
    display: block;
  }

  nav#navbar {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
  }

  main#main-doc {
    text-align: justify;
    padding: 30px;
    margin: 0 auto;
  }
}
